<!-- #Carrousel component -->

<link rel="stylesheet" type="text/css" href="/components/carousel/carousel.css" />

<div class="carousel">
  <h1 class="carousel_title--red">Carrousel</h1>
  <img src="/components/carousel/img/banner.png">
</div>

{{#content "footer" mode="append"}}
  <script src="/components/carousel/carousel.js"></script>
{{/content}}
<!-- /Carrousel component -->
